.container {
  font-family: Impact, fantasy;
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 10px;
  gap: 10px;
}

.wrapper {
  display: flex;
  gap: 25px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.time {
  font-size: 150px;
  line-height: 66px;
  color: white;
  display: grid;
  place-items: center;
}

.text {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 12px;
}

.squareWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.square {
  width: 25px;
  height: 25px;
  background-color: white;
}
