.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
}

.time {
  font-size: 150px;
  display: grid;
  place-items: center;
  font-family: "GT America Expanded-Black";
  font-weight: 700;
}

.text {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "GT America Regular";
  font-weight: 400;
}

.squareWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 60px;
}

.square {
  width: 25px;
  height: 25px;
  background-color: white;
}
